body {
    background: url(https://images.wallpaperscraft.com/image/question_marks_figures_3d_112755_2560x1440.jpg)
}

#addPersonTitle {
    text-align: center;
    margin-top: 43px;
    background: black;
    color: white;
    height: 166px;
    padding-top: 40px;
    font-family: 'Great Vibes', cursive, serif;
    font-size: 100px
};

#people {
    text-align: center;
    margin-left: 400px;
};