body {
    background: url(https://www.barraques.cat/pngfile/big/19-193878_pretty-little-liars-wallpaper-pretty-little-liars.jpg)
}

#addPersonTitle {
    text-align: center;
    margin-top: 43px;
    background: black;
    color: white;
    height: 166px;
    padding-top: 40px;
    font-family: 'Great Vibes', cursive, serif;
    font-size: 100px
};

#quote {
    font-size: 50px
}

/* #cardOne {
    margin-left: 475px;
    margin-top: 75px;
}

.card-content {
    font-size: 40px;
    color: chartreuse
} */

p {
    background: black;
    font-size: 21px;
}